@{
    StudentAccom.Models.Accommodation accom = (StudentAccom.Models.Accommodation)ViewData["accom"];
    string currentUserId = (string)ViewData["currentUserId"];
    string landlordFullName = (string) ViewData["landlordFullName"];
    string landlordCompany = (string) ViewData["landlordCompany"];
    string landlordEmail = (string) ViewData["landlordEmail"];
    string landlordPhoneNumber = (string) ViewData["landlordPhoneNumber"];
    ViewBag.Title = "Details of Accommodation Advertisement";
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>

<body>
    <section title="Accommodation details" class="col-md-12">
        <div class="col-md-7">
            <h1><strong>@accom.Title</strong></h1>
            @if (Request.IsAuthenticated && User.IsInRole("Landlord") && currentUserId.Equals(accom.LandlordID)) {
                <div>
                    <span>@Html.ActionLink("Edit", "Edit", new { id = accom.ID })</span>
                    <span> | </span>
                    <span>@Html.ActionLink("Delete", "Delete", new { id = accom.ID })</span>
                </div>
            }
            <div class="detail-content" title="Basic information about the accommodation">                
                <p>Landlord: @landlordFullName</p>
                @if (landlordCompany != null && landlordCompany != "") {
                    <p>Company: @landlordCompany</p>
                }
                <p>Email: @landlordEmail</p>
                @if (landlordPhoneNumber != null && landlordPhoneNumber != "") {
                    <p>Phone Number: @landlordPhoneNumber</p>
                }
                <p>Type of accommodation: @accom.TypeAccom</p>
                <p>Description: @accom.Description</p>
                <p>Location: @accom.Location</p>
                <p>Price: &pound; @accom.Price</p>
                <p>Type of rent: @accom.TypeRent</p>
                <p>Cleaning fee: @accom.CleaningFee</p>
                <p>Security deposit: @accom.SecurityDeposit</p>                
            </div>

            <h3>Features</h3>

            <div class="detail-features" title="Additional features in the accommodation">
                @if (@accom.Internet) {
                    <p class="col-md-4"><span><img src="~/Images/internet-icon.png" alt="Internet icon" />   Internet</span></p>
                }
                @if (@accom.Wifi) {
                    <p class="col-md-4"><span><img src="~/Images/wifi-icon.png" alt="Wi-fi icon" />   Wi-fi</span></p>
                }
                @if (@accom.CableTV) {
                    <p class="col-md-4"><span><img src="~/Images/cable-tv-icon.png" alt="Cable TV icon" />   Cable TV</span></p>
                }
                @if (@accom.TV) {
                    <p class="col-md-4"><span><img src="~/Images/tv-icon.png" alt="TV icon" />   TV</span></p>
                }
                @if (@accom.Doorman) {
                    <p class="col-md-4"><span><img src="~/Images/doorman-icon.png" alt="Doorman icon" />   Doorman</span></p>
                }
                @if (@accom.Kitchen) {
                    <p class="col-md-4"><span><img src="~/Images/kitchen-icon.png" alt="Kitchen icon" />   Kitchen</span></p>
                }
                @if (@accom.IndividualBathroom) {
                    <p class="col-md-4"><span><img src="~/Images/bathroom-icon.png" alt="Bathroom icon" />   Individual bathroom</span></p>
                }
                @if (@accom.SharedBathroom) {
                    <p class="col-md-4"><span><img src="~/Images/bathroom-icon.png" alt="Bathroom icon" />   Shared bathroom</span></p>
                }
                @if (@accom.Heating) {
                    <p class="col-md-4"><span><img src="~/Images/heating-icon.png" alt="Heating icon" />   Heating</span></p>
                }
                @if (@accom.AirConditioning) {
                    <p class="col-md-4"><span><img src="~/Images/air-conditioning-icon.png" alt="Air-conditioning icon" />   Air-conditioning</span></p>
                }
                @if (@accom.WashingMachine) {
                    <p class="col-md-4"><span><img src="~/Images/washing-machine-icon.png" alt="Washing machine icon" />   Washing machine</span></p>
                }
                @if (@accom.DryingMachine) {
                    <p class="col-md-4"><span><img src="~/Images/drying-machine-icon.png" alt="Drying machine icon" />   Drying machine</span></p>
                }
                @if (@accom.Pool) {
                    <p class="col-md-4"><span><img src="~/Images/pool-icon.png" alt="Pool icon" />   Pool</span></p>
                }
                @if (@accom.Gym) {
                    <p class="col-md-4"><span><img src="~/Images/gym-icon.png" alt="Gym icon" />   Gym</span></p>
                }
            </div>
            @if (Request.IsAuthenticated && User.IsInRole("AccommodationOfficer") && accom.Status == StudentAccom.Models.Status.UnderReview) {
                <section title="Accommodation Officer Review">
                    <h1>Accommodation Office Review</h1>
                    <form action="../../Accommodation/Review" method="post">
                        <div>
                            <input hidden name="Accommodation_ID" value="@accom.ID" />
                            <textarea class="form-control vresize" name="textAreaComment" id="textAreaComment" style="resize:none;" rows="10" placeholder="Advertisement Review"></textarea>
                            <input name="btnReview" class="btn btn-danger" type="submit" value="Reject" />
                            <input name="btnReview" class="btn btn-success" type="submit" value="Approve" />
                        </div>
                    </form>                    
                </section>
            }else if (Request.IsAuthenticated && User.IsInRole("AccommodationOfficer") && accom.Status != StudentAccom.Models.Status.UnderReview){
                <h1>Accommodation Office Review</h1>
                <p><b>Status: </b>@accom.Status</p>
                <b>Comment</b>
                <p>@accom.Comment</p>
            }

        </div>
        <div class="body-margin col-md-5" title="Images">
            @foreach (var img in accom.Images) {
                <img class="img-thumbnail" width="304" height="236" src="data:@img.MimeType;base64, @Convert.ToBase64String(img.ImageData)" />
            }
        </div>
    </section>
</body>

</html>
