@{
    Layout = null;
    StudentAccom.Models.Accommodation accom = (StudentAccom.Models.Accommodation) ViewData["accom"];
    StudentAccom.Models.ApplicationUser landlord= (StudentAccom.Models.ApplicationUser) ViewData["landlord"];
}

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>

<body>
    <div>
        
        <section title="Basic information about the accommodation">
            <h1>Basic information</h1>
            <h2><strong>@accom.Title</strong></h2>
            <p>Landlord: @landlord.FirstName @landlord.LastName</p>
            <p>Company: @landlord.Company</p>
            <p>Email: @landlord.Email</p>
            <p>Phone Number: @landlord.PhoneNumber</p>
            <p>Type of accommodation: @accom.TypeAccom</p>
            <p>Description: @accom.Description</p>
            <p>Location: @accom.Location</p>
            <p>Price: @accom.Price</p>
            <p>Type of rent: @accom.TypeRent</p>
            <p>Cleaning fee: @accom.CleaningFee</p>
            <p>Security deposit: @accom.SecurityDeposit</p>
        </section>

        <section title="Additional features in the accommodation">
            @if (@accom.Internet) {
                <p><span><img src="~/Images/internet-icon.png" alt="Internet icon" />   Internet</span></p>
            }
            @if (@accom.Wifi) {
                <p><span><img src="~/Images/wifi-icon.png" alt="Wi-fi icon" />   Wi-fi</span></p>
            }
            @if (@accom.CableTV) {
                <p><span><img src="~/Images/cable-tv-icon.png" alt="Cable TV icon" />   Cable TV</span></p>
            }
            @if (@accom.TV) {
                <p><span><img src="~/Images/tv-icon.png" alt="TV icon" />   TV</span></p>
            }
            @if (@accom.Doorman) {
                <p><span><img src="~/Images/doorman-icon.png" alt="Doorman icon" />   Doorman</span></p>
            }
            @if (@accom.Kitchen) {
                <p><span><img src="~/Images/kitchen-icon.png" alt="Kitchen icon" />   Kitchen</span></p>
            }
            @if (@accom.IndividualBathroom) {
                <p><span><img src="~/Images/bathroom-icon.png" alt="Bathroom icon" />   Individual bathroom</span></p>
            }
            @if (@accom.SharedBathroom) {
                <p><span><img src="~/Images/bathroom-icon.png" alt="Bathroom icon" />   Shared bathroom</span></p>
            }
            @if (@accom.Heating) {
                <p><span><img src="~/Images/heating-icon.png" alt="Heating icon" />   Heating</span></p>
            }
            @if (@accom.AirConditioning) {
                <p><span><img src="~/Images/air-conditioning-icon.png" alt="Air-conditioning icon" />   Air-conditioning</span></p>
            }
            @if (@accom.WashingMachine) {
                <p><span><img src="~/Images/washing-machine-icon.png" alt="Washing machine icon" />   Washing machine</span></p>
            }
            @if (@accom.DryingMachine) {
                <p><span><img src="~/Images/drying-machine-icon.png" alt="Drying machine icon" />   Drying machine</span></p>
            }
            @if (@accom.Pool) {
                <p><span><img src="~/Images/pool-icon.png" alt="Pool icon" />   Pool</span></p>
            }
            @if (@accom.Gym) {
                <p><span><img src="~/Images/gym-icon.png" alt="Gym icon" />   Gym</span></p>
            }
        </section>
     

    </div>
</body>
</html>
