@model IEnumerable<StudentAccom.Models.Accommodation>

@{
    ViewBag.Title = "Accommodation Advertisements";
}

<html>
    <head>
    </head>
    <body>
        <section class="col-md-12 ads-container" id="MainSection" title="Accommodation advertisements">
            @if (Model == null) {
                <p>There's no advertisements to show right now. If you are a Landord register now and create your own ads.</p>
            }
            @foreach (var accom in Model) {
                <div class="ad col-md-4 text-center">
                    <a href="../Accommodation/Details/@accom.ID">
                        <img class="img-thumbnail" alt="@accom.Title" src="data:accom.Images.ElementAt(0).MimeType;base64, @Convert.ToBase64String(accom.Images.ElementAt(0).ImageData)" />
                    </a>
                    <div class="ad-box">
                        <a href="../Accommodation/Details/@accom.ID">
                            <p class="ad-box-title"><strong>@accom.Title</strong></p>
                        </a>
                        <p>@accom.Location</p>
                        <p><span class="pound-sign">&pound; </span><span class="ad-box-price">@accom.Price</span><span>/ @accom.TypeRent</span></p>
                    </div>

                </div>
            }
        </section>
    </body>
</html>


